h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
  transition: transform 250ms ease-out, scale 250ms ease-out;
}
.container {
  box-sizing: border-box;
  background: #444;
  height: 100px;
  padding-top: 30px;
}
.search-form {
  width: 500px;
  height: 40px;
  margin: 0px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
}

input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color: #ffffff;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}
input:focus {
  outline: 0;
  background: transparent;
}

.search-btn {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}
.search-btn:hover {
  background: #fff;
  color: #444;
}
.search-btn:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}
.search-btn:focus {
  outline: 0;
}
.gallery {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.photo-card {
  border: 1px solid rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.info {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a:hover,
a:focus {
  transform: translateY(-10px) scale(1.04);
}

/* .load-more {
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

.load-more:focus {
  outline: 0;
} */
.load-more {
  display: block;
  margin: 25px auto;
  color: #444;
  height: 40px;
  width: 120px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.load-more:hover {
  background: #444;
  color: #fff;
}
.load-more:active {
  box-shadow: 0px 0px 12px 0px rgb(26, 12, 12);
}
.is-hidden {
  display: none;
}
